extends _master

block scripts

block head
   title About Us Page
block body
    h1 WE STARTED IN 2010...
    p
        h4 The Ninja Pet Vet Clinic was established by Dr. Quinn the Healer in December of 2010. The practice has grown over the years and four additional veterinarians work with Dr. Queen the Healer - Dr. Rositsa Kirilova, Dr. Kyci Vapcarov, Dr. Uti Bychvarov, and Dr. Radeva — who are available for appointments.
    p
        h4 At the NPV clinic, we are dedicated to caring for an important member of your family, your pet. We offer a comfortable and modern facility with a caring and devoted staff. Our goal is to be as helpful as possible and provide top-notch treatment and service in a relaxed environment for you and your pets.
    p
        h4 If you have questions or problems please do not hesitate to 
            a(href="/contactUs") contact us.

    script(src="../static/js/aboutUs.js")
