extends _master

block scripts

block head
   title Contact Us Page
block body
    h1(align="center") Our location
    iframe(width='100%', height='350', frameborder='0', class="img-rounded", style='border:0', src='https://www.google.com/maps/embed/v1/place?q=sofia%20malinov%2031&key=AIzaSyB-3eF82eujpNm2WmHiRf3kdRRAefAloAg')
    .container-fluid
    .row
        .col-sm-6(style='background-color:lavender;') 
            b FIND US:
            br
            br
            div 31 Malinov bld
            | Sofia, Bulgaria
            br
            br
            div
            b CALL US:
            br
            br
            div PHONE: 02 222 222
            | FAX: 02 333 333
        .col-sm-6(style='background-color:lavender;') 
            b OUR HOURS:
            div Monday: 8AM–7PM
            div Tuesday: 8AM–6PM
            div Wednesday: 8AM–7PM
            div Thursday: 8AM–7PM
            div Friday: 8AM–5PM
            div Saturday: 8AM–1PM
            div Urgent Care: 1PM–2PM
            div Sunday: Closed
    br
    h1 Our doctors
    .media
    .media-left.media-middle
        img.media-object(src='../static/img/OurDoctors/quinn.jpg' class="img-rounded" width="280" height="280" alt='Lights')
    .media-body
        h4.media-heading Dr. Quinn the Healer was born in London.
        | She graduated from University of London,
        | Royal Veterinary College with a Master's degree of DVM in 1987.
    .media
    .media-left.media-middle
        img.media-object(src='../static/img/OurDoctors/radeva.jpg' class="img-rounded" width="280" height="280" alt='Lights')
    .media-body
        h4.media-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem ipsa aspernatur doloremque numquam, rerum temporibus placeat consectetur suscipit perferendis quo vitae sed, quos quis voluptatum laborum veritatis? Deserunt, voluptate?
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique error aperiam, quia fugiat repellat ut laudantium accusantium accusamus reiciendis nisi nostrum dolorem hic labore, natus saepe nesciunt dignissimos, perferendis voluptatibus.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, tenetur tempore facere numquam culpa voluptatem, eligendi in fugit perferendis ut reiciendis animi, alias, pariatur ex labore dignissimos ipsam similique aspernatur!
    .media
    .media-left.media-middle
        img.media-object(src='../static/img/OurDoctors/rosiKirilova.jpg' class="img-rounded" width="280" height="280" alt='Lights')
    .media-body
        h4.media-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem ipsa aspernatur doloremque numquam, rerum temporibus placeat consectetur suscipit perferendis quo vitae sed, quos quis voluptatum laborum veritatis? Deserunt, voluptate?
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique error aperiam, quia fugiat repellat ut laudantium accusantium accusamus reiciendis nisi nostrum dolorem hic labore, natus saepe nesciunt dignissimos, perferendis voluptatibus.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, tenetur tempore facere numquam culpa voluptatem, eligendi in fugit perferendis ut reiciendis animi, alias, pariatur ex labore dignissimos ipsam similique aspernatur!
    .media
    .media-left.media-middle
        img.media-object(src='../static/img/OurDoctors/kyci.jpg' class="img-rounded" width="280" height="280" alt='Lights')
    .media-body
        h4.media-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem ipsa aspernatur doloremque numquam, rerum temporibus placeat consectetur suscipit perferendis quo vitae sed, quos quis voluptatum laborum veritatis? Deserunt, voluptate?
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique error aperiam, quia fugiat repellat ut laudantium accusantium accusamus reiciendis nisi nostrum dolorem hic labore, natus saepe nesciunt dignissimos, perferendis voluptatibus.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, tenetur tempore facere numquam culpa voluptatem, eligendi in fugit perferendis ut reiciendis animi, alias, pariatur ex labore dignissimos ipsam similique aspernatur!
    .media
    .media-left.media-middle
        img.media-object(src='../static/img/OurDoctors/uti.jpg' width="280" height="280" alt='Lights')
    .media-body
        h4.media-heading Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi voluptatem ipsa aspernatur doloremque numquam, rerum temporibus placeat consectetur suscipit perferendis quo vitae sed, quos quis voluptatum laborum veritatis? Deserunt, voluptate?
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique error aperiam, quia fugiat repellat ut laudantium accusantium accusamus reiciendis nisi nostrum dolorem hic labore, natus saepe nesciunt dignissimos, perferendis voluptatibus.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, tenetur tempore facere numquam culpa voluptatem, eligendi in fugit perferendis ut reiciendis animi, alias, pariatur ex labore dignissimos ipsam similique aspernatur!
    
    script(src="../static/js/contactUs.js")
